In [4]:
import sqlalchemy
import sqlparse
import

In [10]:
sql = """
SELECT id,name_,age from dual a
LEFT JOIN select id,'18;19',age from actor b
ON a.id = b.id
"""
stmts = sqlparse.split(sql)
for stmt in stmts:
    stmt_parsed = sqlparse.parse(stmt)
    for token0 in stmt_parsed[0].tokens:
        if type(token0) == sqlparse.sql.IdentifierList:
            print(token0)
            break

id,name_,age